body {
  background-image: url(octavian-rosca-208933.jpg);
  background-size: cover;
}
#container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
    ". . header . ."
    ". backingTrackKeys backingTrackKeys backingTrackKeys ."
    ". leftKeys centralCircleSpace rightKeys ."
    ". leftKeys centralCircleSpace rightKeys ."
    ". . bottomKeys . ."
    ". . . . ."
}

#header {
  grid-area: header;
  justify-self: center;
  align-self: end;
}

h1 {
  font-family: 'Molle', cursive;
  font-size: 80px;
  color: white;
}

#centralCircleContainer {
  grid-area: centralCircleSpace;
  justify-self: center;
  align-self: center;
}

#centralCircle {
  border: 6px solid black;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  text-align: center;
  color: white;
  line-height: 280px;
  background: rgba(0, 0, 0, 0.4);
}

.backingTrackKeysContainer {
  display: flex;
  grid-area: backingTrackKeys;
  justify-self: center;
  align-self: center;
}

.leftKeysContainer {
  grid-area: leftKeys;
  justify-self: center;
  align-self: center;
}

.rightKeysContainer {
  grid-area: rightKeys;
  justify-self: center;
  align-self: center;
}

.bottomKeysContainer {
  display: flex;
  grid-area: bottomKeys;
  justify-self: center;
  align-self: start;
}

.key {
  border: 3px solid black;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 10px;
  text-shadow: 0 0 .5rem black;
  color: white;
  background: rgba(0,0,0,0.2);
  transition: all .07s ease;
}

letter { 
  display: block;
  font-size: 35px;
  padding-top: 18px;
}

.backingTrackKeysContainer .key {
  width: 50px; 
  height: 50px;
  margin: 5px;
}

.backingTrackKeysContainer letter {
  padding-top: 5px;
}



.sound {
  text-transform: uppercase;
  letter-spacing: 0.5px;

}

/* Styles for circle inner content */

.circleText {
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
}


/* Pulse animation for when loop playing  */
.loopPlaying {
   animation-name: pulse;
   animation-duration: 0.5s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}
@keyframes pulse {
  from {
     border: 20px solid rgba(192, 192, 192, 1);
     height: 300px;
     width: 300px;
  }
  to {
     border: 25px solid rgba(192, 192, 192, 0.4);
     height: 280px;
     width: 280px;
  }
}
/* End of pulse animation for when loop playing */

.oneShotPlaying {
  transform: scale(1.1);
  border-color: #893A4B;
  box-shadow: 0 0 1rem white;
}

.trackSelected {
  transform: scale(1.1);
  border-color: #893A4B;
  box-shadow: 0 0 1rem white;
}
