body {
  background-image: url(octavian-rosca-208933.jpg);
  background-size: cover;
}
#container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
    ". . header . ."
    ". leftKeys centralCircleSpace rightKeys ."
    ". leftKeys centralCircleSpace rightKeys ."
    ". . bottomKeys . ."
}

#header {
  grid-area: header;
  justify-self: center;
  align-self: end;
}

h1 {
  font-family: 'Molle', cursive;
  font-size: 80px;
  color: white;
}

#centralCircleContainer {
  grid-area: centralCircleSpace;
  justify-self: center;
  align-self: center;
}

#centralCircle {
  border: 6px solid black;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  text-align: center;
  color: white;
}

.leftKeysContainer {
  grid-area: leftKeys;
  justify-self: center;
  align-self: center;
}

.rightKeysContainer {
  grid-area: rightKeys;
  justify-self: center;
  align-self: center;
}

.bottomKeysContainer {
  display: flex;
  grid-area: bottomKeys;
  justify-self: center;
  align-self: start;
}

.key {
  border: 3px solid black;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 10px;
  text-shadow: 0 0 .5rem black;
  color: white;
  background: rgba(0,0,0,0.2);
  transition: all .07s ease;


}

letter { 
  display: block;
  font-size: 35px;
  padding-top: 18px;
}

.sound {
  text-transform: uppercase;
  letter-spacing: 0.5px;

}

/* Styles for circle inner content */

#circleLetter {
  display: block;
  font-size: 100px;
}

#circleSounds {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

/* Pulse animation for when loop playing  */
.loopPlaying {
   animation-name: pulse;
   animation-duration: 0.5s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}
@keyframes pulse {
  from {
     border: 20px solid rgba(192, 192, 192, 1);
  }
  to {
     border: 25px solid rgba(192, 192, 192, 0.4);
  }
}
/* End of pulse animation for when loop playing */

.oneShotPlaying {
  transform: scale(1.1);
  border-color: #893A4B;
  box-shadow: 0 0 1rem white;
}
